In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv('MoviesDataset_Total.csv')

In [3]:
df.head()

,Title,Release_year,Certificate,Rating,Runtime(min),Genre,Metascore,Director,Stars,Votes,Gross($)
0,Avatar,2009,UA,7.9,162 min,Action,83.0,James Cameron,"Sam Worthington,","1,358,356","2,923,706,026"
1,Avengers: Endgame,2019,UA,8.4,181 min,Action,78.0,"Anthony Russo,","Robert Downey Jr.,","1,207,990","2,799,439,100"
2,Avatar: The Way of Water,2022,UA,7.6,192 min,Action,67.0,James Cameron,"Sam Worthington,","451,677","2,320,250,281"
3,Titanic,1997,UA,7.9,194 min,Drama,75.0,James Cameron,"Leonardo DiCaprio,","1,243,170","2,264,743,305"
4,Star Wars: Episode VII - The Force Awakens,2015,U,7.8,138 min,Action,80.0,J.J. Abrams,"Daisy Ridley,","954,671","2,071,310,218"

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Title         1000 non-null   object
 1   Release_year  1000 non-null   int64
 2   Certificate   950 non-null    object
 3   Rating        1000 non-null   float64
 4   Runtime(min)  1000 non-null   object
 5   Genre         1000 non-null   object
 6   Metascore     962 non-null    float64
 7   Director      1000 non-null   object
 8   Stars         1000 non-null   object
 9   Votes         1000 non-null   object
 10  Gross($)      1000 non-null   object
dtypes: float64(2), int64(1), object(8)
memory usage: 86.1+ KB

In [5]:
df.isnull().sum()

Title            0
Release_year     0
Certificate     50
Rating           0
Runtime(min)     0
Genre            0
Metascore       38
Director         0
Stars            0
Votes            0
Gross($)         0
dtype: int64

In [6]:
df.dropna(how="any",axis=0,inplace=True)

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 943 entries, 0 to 999
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Title         943 non-null    object
 1   Release_year  943 non-null    int64
 2   Certificate   943 non-null    object
 3   Rating        943 non-null    float64
 4   Runtime(min)  943 non-null    object
 5   Genre         943 non-null    object
 6   Metascore     943 non-null    float64
 7   Director      943 non-null    object
 8   Stars         943 non-null    object
 9   Votes         943 non-null    object
 10  Gross($)      943 non-null    object
dtypes: float64(2), int64(1), object(8)
memory usage: 88.4+ KB

In [8]:
df['Runtime(min)'] = df['Runtime(min)'].replace(' min','',regex = True).astype(float)

In [9]:
df['Metascore'] = df['Metascore'].replace(',','',regex = True).astype(int)

In [10]:
df['Votes'] = df['Votes'].replace(',','',regex = True).astype(int)

In [11]:
Gross = []
for i in df["Gross($)"]:
    a = i.replace(",","")
    Gross.append(int(a))

In [12]:
df["Gross($)"] = Gross

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 943 entries, 0 to 999
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Title         943 non-null    object
 1   Release_year  943 non-null    int64
 2   Certificate   943 non-null    object
 3   Rating        943 non-null    float64
 4   Runtime(min)  943 non-null    float64
 5   Genre         943 non-null    object
 6   Metascore     943 non-null    int32
 7   Director      943 non-null    object
 8   Stars         943 non-null    object
 9   Votes         943 non-null    int32
 10  Gross($)      943 non-null    int64
dtypes: float64(2), int32(2), int64(2), object(5)
memory usage: 81.0+ KB

In [14]:
df.head()

,Title,Release_year,Certificate,Rating,Runtime(min),Genre,Metascore,Director,Stars,Votes,Gross($)
0,Avatar,2009,UA,7.9,162.0,Action,83,James Cameron,"Sam Worthington,",1358356,2923706026
1,Avengers: Endgame,2019,UA,8.4,181.0,Action,78,"Anthony Russo,","Robert Downey Jr.,",1207990,2799439100
2,Avatar: The Way of Water,2022,UA,7.6,192.0,Action,67,James Cameron,"Sam Worthington,",451677,2320250281
3,Titanic,1997,UA,7.9,194.0,Drama,75,James Cameron,"Leonardo DiCaprio,",1243170,2264743305
4,Star Wars: Episode VII - The Force Awakens,2015,U,7.8,138.0,Action,80,J.J. Abrams,"Daisy Ridley,",954671,2071310218

In [15]:
df.to_csv('AfterCleaning_MoviesDataset.csv',index = None)